#checkout-info {
    width: 100vw;
    background-color: rgba(212, 127, 0, 0.7);
    margin-top: 80px;
}

#checkout-form input {
    border-radius: 0;
    border: none;
    border-bottom: var(--boder-bottom);
    &::placeholder {
        color: lightgray;
    }
    &:focus {
        box-shadow: none;
        &::placeholder {
            color: transparent;
        }
    }
}

#btn-submit{
background-color: black;
color: white;
width: 150px;
&:hover {
    background-color: var(--accent-color);
}
}
