#index-footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/lamps/footer.jpg");
    // background-image: url("../images/lamps/footer.jpg");
    // height: 300px;
    background-repeat: none;
    background-size: cover;
    background-position-x: center;
    background-position-y: 650px; 
}

#footer-links a{
    font-size: 1rem;
    text-decoration: none;
    color: white;
 
}
#footer-links a:hover, i:hover {
    color: var(--accent-color);
}

#formEmail {
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: var(--boder-bottom);
    color: white;
    &::placeholder {
        color: lightgray;
    }
    &:focus {
        box-shadow: none;
        &::placeholder {
            color: transparent;
        }
    }
}

.rrss {
    padding-top: 40px;
}