@import "./nav";
@import "./header";
@import "./modal";
@import "./product-card";
@import "./footer";
@import "./checkout";

:root {
    --accent-color: rgb(212, 127, 0);
    --boder-bottom: 1px solid var(--accent-color);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;

    :hover {
        color: white;
    }
}

#arrow {
    width: 100px;
    height: 5px;
}

.btn {
    border-radius: 0;
    border: none;
    border-bottom: var(--boder-bottom);
    &:hover {
        background-color: var(--accent-color);
        color: white;
        border-color: black;
    }
    
    &:focus {
        box-shadow: none;
    }
}

