#lightmeup {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
#lightmeup:hover {
  color: white;
}

ul .nav-link {
  color: white;
  text-transform: uppercase;
}
ul .nav-link:hover, ul .nav-link:focus {
  color: white;
}
ul span {
  color: var(--accent-color);
  font-weight: 500;
}
ul span:hover {
  color: var(--accent-color);
}

.dropdown-item:active {
  background-color: var(--accent-color);
}

#shopping-icon {
  font-size: 1.2rem;
}
#shopping-icon span {
  padding: 0 3px;
  font-size: 0.7rem;
  border: 0.5px black solid;
  bottom: -7px;
  right: -7px;
}

#burger-icon {
  font-size: 1.2rem;
  margin-left: 7px;
  color: white;
}

.dropdown-menu {
  background-color: black;
  color: white;
}

.dropdown-item {
  color: white;
}

header {
  height: 100vh;
  background-image: url("../images/lamps/portada.jpg");
  background-repeat: none;
  background-size: cover;
}
header > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8rem 0;
  margin: 0;
}
header > div > div {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 16%;
  margin: 0;
}
header > div > div h1 {
  font-size: 5rem;
}
header > div > div p {
  font-size: 3rem;
}

#cartCanvas #cart-buttons {
  width: 60px;
  display: flex;
  justify-content: flex-end;
  margin: 0 0.5rem;
  gap: 5px;
  cursor: pointer;
}
#cartCanvas #cart-buttons i {
  font-size: 1.2rem;
}
#cartCanvas #cart-total {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
#cartCanvas #total_price {
  font-weight: 600;
  font-size: 1.5rem;
}

#card {
  max-width: 300px;
}
#card #product-image {
  height: 260px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
#card .card-img-top {
  border-radius: 0;
}
#card a {
  cursor: pointer;
}
#card #product-info {
  width: 100%;
}
#card #product-info #product-brand {
  font-size: 0.9rem;
  text-transform: capitalize;
  margin: 1rem 0 0 0;
  font-weight: 300;
}
#card #product-info #product-name, #card #product-info #product-price {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
#card #product-info #product-category {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1rem 0 0 0;
}
#card #product-info #product-offer {
  color: var(--accent-color);
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 500;
  margin: 1rem 0 0 0;
}

#index-footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/lamps/footer.jpg");
  background-repeat: none;
  background-size: cover;
  background-position-x: center;
  background-position-y: 650px;
}

#footer-links a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

a:hover, i:hover {
  color: var(--accent-color);
}

.rrss {
  padding-top: 40px;
}

#checkout-body {
  background-color: white;
  color: black;
  height: 100vh;
}

#checkout-footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/lamps/footer.jpg");
  background-repeat: none;
  background-size: cover;
  background-position-x: center;
  background-position-y: 550px;
}

#checkout-info {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: rgb(212, 127, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  overflow-x: hidden;
}

#arrow {
  width: 100px;
  height: 5px;
}/*# sourceMappingURL=styles.css.map */